*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* width: 100%; */
  width: 1440px;
}

.div {
  background-color: #ffffff;
  height: 6104px;
  /* overflow: hidden; */
  position: relative;
  /* width: 1440px; */
  width: 100%;
}

.page-header {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--neutral-600);
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 0;
  padding: 20px 160px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.horizontal-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: -120px;
  margin-right: -120px;
  padding: 0px 34px;
  position: relative;
  width: 1360px;
}

.horizontal-container-2 {
  height: 51px;
  position: relative;
  width: 493px;
}


.horizontal-container-3 {
  align-items: center;
  display: flex;
  gap: 34px;
  justify-content: center;
  left: 226px;
  position: absolute;
  top: 3px;
  width: 233px;
}

.button {
  align-items: center;
  border-radius: 5.31px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6.38px;
  justify-content: center;
  margin-left: -32.5px;
  overflow: hidden;
  position: relative;
}

.img-2 {
  flex: 0 0 auto;
  position: relative;
  bottom: 2px;
}

.button-2 {
  all: unset;
  align-items: center;
  border-radius: 5.31px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6.38px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.text-wrapper {
  color: var(--gray-700);
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15.9px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 23.4px;
  margin-top: -1.06px;
  position: relative;
  white-space: nowrap;
  width: auto;
}

.button-3 {
  all: unset;
  align-items: center;
  border-radius: 5.31px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6.38px;
  justify-content: center;
  margin-right: -32.5px;
  overflow: hidden;
  position: relative;
}

.button-4 {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 25.5px;
  justify-content: flex-end;
  position: relative;
}

.text-2 {
  color: #080808;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15.9px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 23.4px;
  margin-top: -1.06px;
  position: relative;
  white-space: nowrap;
  width: auto;
}

.button-5 {
  all: unset;
  align-items: center;
  background-color: #532181;
  border-radius: 341.06px;
  box-shadow: 0px 1.06px 2.12px #1018280a;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6.38px;
  justify-content: center;
  overflow: hidden;
  padding: 12.75px 19.12px;
  position: relative;
}

.text-3 {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15.9px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 23.4px;
  margin-top: -1.06px;
  position: relative;
  white-space: nowrap;
  width: auto;
}

.frame-2 {
  background-color: #532181;
  border-radius: 10px;
  height: 764px;
  left: 35px;
  overflow: hidden;
  position: absolute;
  top: 127px;
  width: 791px;
}

.vertical-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 48px;
  height: 442px;
  justify-content: center;
  left: 24px;
  position: absolute;
  top: 83px;
  width: 722px;
}

.overlap-wrapper {
  align-self: stretch;
  height: 364px;
  position: relative;
  width: 100%;
}

.overlap {
  height: 447px;
  position: relative;
  width: 722px;
}

.paragraph-container {
  height: 447px;
  left: 0;
  position: absolute;
  top: 0;
  width: 722px;
}

.overlap-group-2 {
  height: 292px;
  left: -24px;
  position: relative;
  top: -1px;
  width: 746px;
}

.your-financial {
  color: #ffffff;
  font-family: "Inter Tight-SemiBold", Helvetica;
  font-size: 96px;
  font-weight: 600;
  left: 24px;
  letter-spacing: -0.96px;
  line-height: 96px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 722px;
}

.vector {
  height: 86px;
  left: 0;
  position: absolute;
  top: 205px;
  width: 134px;
}

.p {
  color: #ffffff;
  font-family: "Inter Tight-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 103px;
  letter-spacing: -0.1px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 337px;
  width: 517px;
}

.button-6 {
  height: 46px;
  left: 233px;
  position: absolute;
  top: 569px;
  width: 272px;
  cursor: pointer;
}

.frame-3 {
  background-color: #eef2fb;
  border-radius: 10px;
  height: 764px;
  left: 846px;
  overflow: hidden;
  position: absolute;
  top: 127px;
  width: 559px;
}

.overlap-2 {
  background-color: #f7f7f7;
  height: 940px;
  left: -114px;
  position: relative;
  top: -63px;
  width: 763px;
}

.group-3 {
  height: 351px;
  left: 167px;
  position: absolute;
  top: 335px;
  transform: rotate(154.95deg);
  width: 442px;
}

.overlap-group-3 {
  height: 351px;
  position: relative;
}

.ellipse {
  border: 1.39px dashed;
  border-color: #00000075;
  border-radius: 221.02px/74.9px;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 442px;
}

.ellipse-2 {
  border: 1.39px dashed;
  border-color: #00000075;
  border-radius: 199.28px/74.9px;
  height: 150px;
  left: 22px;
  position: absolute;
  top: 100px;
  width: 399px;
}

.ellipse-3 {
  border: 1.39px dashed;
  border-color: #00000075;
  border-radius: 186.24px/74.9px;
  height: 150px;
  left: 35px;
  position: absolute;
  top: 201px;
  width: 372px;
}

.element-swiftfiat-iphone {
  height: 749px;
  left: 114px;
  object-fit: cover;
  position: absolute;
  top: 78px;
  width: 559px;
  z-index: 1;
}


.frame-4 {
  background-color: #532181;
  border-radius: 19.85px;
  height: 738px;
  left: 35px;
  overflow: hidden;
  position: absolute;
  top: 5324px;
  width: 1370px;
}

.overlap-3 {
  height: 619px;
  left: 50px;
  position: relative;
  top: 71px;
  width: 1271px;
}

.frame-5 {
  height: 595px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1271px;
}

.frame-6 {
  align-items: center;
  display: flex;
  gap: 80.41px;
  left: 0;
  padding: 0px 31.77px;
  position: absolute;
  top: 0;
  width: 1271px;
}

.frame-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 27.8px;
  justify-content: center;
  position: relative;
}

.mail-img{
  height: 24px;
  position: relative;
  width: 24px;
  background: #8057CCCC;
  align-items: center;
  border-radius: 11.91px;
  display: inline-flex;
  gap: 14.89px;
  justify-content: center;
  overflow: hidden;
}

.mail-img .img-2{
  height: 21px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 22px;
 
}


.frame-8 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 7.94px;
  justify-content: center;
  position: relative;
}

.join-the-speedsters {
  color: #f9f9f9;
  font-family: "Inter Tight-Medium", Helvetica;
  font-size: 63.5px;
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: normal;
  margin-top: -0.99px;
  position: relative;
  width: 786.22px;
}

.text-wrapper-2 {
  color: #ffffff;
  font-family: "Inter Tight-Regular", Helvetica;
  font-size: 15.9px;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 23.8px;
  position: relative;
  white-space: nowrap;
  width: auto;
}

.button-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 23.82px;
  position: relative;
}

.button-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15.88px;
  position: relative;
}

.text-wrapper-3 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15.9px;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 23.8px;
  margin-top: -0.99px;
  position: relative;
  width: 299.8px;
}

.input-field {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 7.94px;
  position: relative;
  width: 299.8px;
}

.button-container {
  all: unset;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 5.96px;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.button-8 {
  align-items: center;
  background-color: #ffffff;
  border: 0.99px solid;
  border-radius: 5.96px 0px 0px 5.96px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 7.94px;
  height: 45.66px;
  overflow: hidden;
  padding: 11.91px 15.88px;
  position: relative;
}

.text-input {
  background: none;
  border: none;
  color: #a5acba;
  flex: 1;
  flex-grow: 1;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14.9px;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 21.8px;
  margin-bottom: -0.08px;
  margin-top: -0.99px;
  padding: 0;
  position: relative;
}

.button-9 {
  all: unset;
  align-items: center;
  background-color: #7F57F1;
  border-radius: 0px 5.96px 5.96px 0px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5.96px;
  justify-content: center;
  overflow: hidden;
  padding: 11.91px 17.87px;
  position: relative;
  cursor: pointer;
}

.text-4 {
  color: rgba(255, 255, 255, 1);
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 14.9px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 21.8px;
  position: relative;
  white-space: nowrap;
  width: auto;
}

.horizontal-container-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 63.53px;
  left: 0;
  padding: 0px 31.77px;
  position: absolute;
  top: 380px;
  width: 1271px;
}

.horizontal-container-4 {
  align-self: stretch;
  height: 215.47px;
  position: relative;
  width: 100%;
}

.text-input-container {
  height: 115px;
  left: 0;
  position: absolute;
  top: 0;
  width: 245px;
}

.component-2 {
  height: 51px;
  left: 0;
  position: absolute;
  top: 0;
  width: 127px;
}

.heading-START-wrapper {
  /* background-image: url(./swiftfiat-logo-mark-purple-variation-white-variation-2.png); */
  background-position: 50% 50%;
  background-size: cover;
  height: 51px;
  position: relative;
  width: 58px;
}

.heading-START {
  color: #ffffff;
  font-family: "Inter Tight-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 37px;
  left: 0;
  letter-spacing: 0;
  line-height: 36.4px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}

.an-innovative-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 15.88px;
  left: 0;
  position: absolute;
  top: 67px;
}

.an-innovative {
  color: #ffffff;
  font-family: "Inter Tight-Regular", Helvetica;
  font-size: 15.7px;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 23.8px;
  margin-top: -0.99px;
  position: relative;
  width: auto;
  top: 0;
}

.vertical-container-2 {
  height: 215px;
  left: 396px;
  position: absolute;
  top: 0;
  width: 811px;
}

.card {
  height: 144px;
  left: 0;
  position: relative;
  top: 0;
  width: 73px;
  background-color: #532181;
  border: none;
}

.footer-links {
  align-items: center;
  border-radius: 4.96px;
  display: inline-flex;
  gap: 3.97px;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: relative;
  top: 0;
}

.text-wrapper-4 {
  color: #f9f9f9;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 15.9px;
  font-weight: 600;
  letter-spacing: -0.1px;
  line-height: 23.8px;
  margin-top: -0.99px;
  position: relative;
  white-space: nowrap;
  width: auto;
}

.card-2 {
  height: 96px;
  left: 0;
  position: absolute;
  top: 48px;
  width: 70px;
  /* cursor: pointer; */
}

.text-wrapper-5 {
  color: #ffffff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 15.9px;
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: 23.8px;
  margin-top: -0.99px;
  position: relative;
  white-space: nowrap;
  width: auto;
  cursor: pointer;
}

.footer-links-2 {
  align-items: center;
  border-radius: 4.96px;
  display: inline-flex;
  gap: 3.97px;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 36px;
}

.footer-links-3 {
  align-items: center;
  border-radius: 4.96px;
  display: inline-flex;
  gap: 3.97px;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 72px;
}

.footer-links-4 {
  align-items: center;
  border-radius: 4.96px;
  display: inline-flex;
  gap: 3.97px;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 155px;
}

.vertical-container-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 23.82px;
  left: 173px;
  position: absolute;
  top: 0;
}

.footer-links-5 {
  align-items: center;
  border-radius: 4.96px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 3.97px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.div-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 11.91px;
  position: relative;
}

.card-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 23.82px;
  left: 374px;
  position: absolute;
  top: 0;
}

.text-input-2 {
  height: 48px;
  left: 32px;
  position: absolute;
  top: 571px;
  width: 1208px;
}

.text-wrapper-6 {
  color: #ffffff;
  font-family: "Inter Tight", sans-serif;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.1px;
  line-height: 24px;
  position: absolute;
  top: 23px;
  white-space: nowrap;
}

.social-icon {
  height: 24px !important;
  left: 986px !important;
  position: absolute !important;
  top: 24px !important;
  width: 222px !important;
  cursor: pointer;
}

.overlap-4 {
  height: 2815px;
  left: 0;
  position: absolute;
  top: 974px;
  width: 1442px;
}

.frame-9 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 63.91px;
  left: 35px;
  padding: 63.91px 0px;
  position: absolute;
  top: 0;
}

.container {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 31.95px;
  padding: 0px 31.95px;
  position: relative;
  width: 1278.13px;
}

.content {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 47.93px;
  position: relative;
  width: 100%;
}

.heading-and {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 19.97px;
  position: relative;
  width: 766.88px;
}

.heading-and-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 11.98px;
  position: relative;
  width: 100%;
}

.subheading {
  align-self: stretch;
  color: #532181;
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.heading {
  align-self: stretch;
  color: #0f1728;
  font-family: "Inter Tight-Medium", Helvetica;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: normal;
  position: relative;
  text-align: center;
}

.supporting-text {
  color: #666d80;
  font-family: "Inter Tight-Medium", Helvetica;
  font-size: 28.9px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 43.3px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.frame-10 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 21.97px;
  position: relative;
}

.frame-11 {
  background-color: #f6f7f9;
  border-radius: 19.97px;
  height: 750.9px;
  overflow: hidden;
  position: relative;
  width: 674.02px;
}

.heading-and-wrapper {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 59.91px;
  left: 58px;
  position: absolute;
  top: 63px;
}

.heading-and-3 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15.98px;
  position: relative;
  width: 559.18px;
}
.head-bank{
  background: #532181;
  align-items: center;
  border-radius: 11.98px;
  display: inline-flex;
  gap: 14.98px;
  justify-content: center;
  overflow: hidden;
  padding: 11.98px;
  position: relative;
}
.head-bank img{
  height: 23.97px;
  position: relative;
  width: 23.97px;
}

.heading-2 {
  color: #0f1728;
  font-family: "Inter Tight-SemiBold", Helvetica;
  font-size: 35.9px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 549.2px;
}

.supporting-text-2 {
  color: #666d80;
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  position: relative;
  width: 501px;
}

/* .american-express {
  height: 272px;
  left: 1632px;
  object-fit: cover;
  position: absolute;
  top: -256px;
  width: 362px;
} */

.overlap-group-4 {
  height: 376px;
  left: 0;
  position: absolute;
  top: 375px;
  width: 639px;
}

.amazon {
  height: 376px;
  left: 288px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 351px;
}

.itunes {
  height: 334px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 42px;
  width: 417px;
}

.overlap-5 {
  height: 688px;
  left: 46px;
  position: relative;
  top: 63px;
  width: 600px;
}

.heading-and-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15.98px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 559.18px;
}

.heading-3 {
  align-self: stretch;
  color: var(--gray-900);
  font-family: "Inter Tight-SemiBold", Helvetica;
  font-size: 35.9px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.supporting-text-3 {
  align-self: stretch;
  color: #666d80;
  font-family: "Inter Tight-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28px;
  position: relative;
}

.swiftfiat-iphone {
  height: 522px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 166px;
  width: 600px;
}

.frame-12 {
  background-color: #f6f7f9;
  border-radius: 19.97px;
  height: 392.43px;
  overflow: hidden;
  position: relative;
  width: 1368px;
}

.heading-and-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15.98px;
  left: 54px;
  position: absolute;
  top: 63px;
  width: 559.18px;
}

.supporting-text-4 {
  align-self: stretch;
  color: var(--gray-500);
  font-family: "Inter-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28px;
  position: relative;
}

.overlap-6 {
  /* background-image: url(./images/double-phone.png); */
  background-position: 50% 50%;
  /* background-size: cover; */
  height: 392px;
  left: 671px;
  position: absolute;
  top: 0;
  width: 697px;
}

.MTN {
  height: 82px;
  left: 32px;
  object-fit: cover;
  position: absolute;
  top: 310px;
  width: 149px;
}

.overlap-group-5 {
  height: 201px;
  left: 468px;
  position: absolute;
  top: 191px;
  width: 196px;
}

.DSTV {
  height: 131px;
  left: 65px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 131px;
}

.GLO {
  height: 73px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 128px;
  width: 131px;
}

.element {
  height: 98px;
  left: 195px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 131px;
}

.AIRTEL {
  height: 131px;
  left: 468px;
  object-fit: cover;
  position: absolute;
  top: 60px;
  width: 131px;
}

.frame-13 {
  background-color: #f6f7f9;
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgba(197.41, 196.72, 196.72, 0.69), rgba(148.24, 148.24, 148.24, 0.29)) 1;
  border-radius: 19.97px;
  height: 564px;
  overflow: hidden;
  position: relative;
  width: 1370px;
}

.overlap-7 {
  height: 469px;
  left: 29px;
  position: relative;
  top: 74px;
  width: 1341px;
}

.services-area {
  align-items: center;
  background-color: #f6f7f9;
  display: inline-flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 49px;
}

.map {
  height: 420px;
  object-fit: cover;
  position: relative;
  width: 1341px;
}

.heading-4 {
  color: #101828;
  font-family: "Inter Tight-SemiBold", Helvetica;
  font-size: 49.6px;
  font-weight: 600;
  left: 25px;
  letter-spacing: 0;
  line-height: 59.9px;
  position: absolute;
  top: 0;
}

/* .mask-group-wrapper {
  align-items: flex-start;
  display: flex;
  gap: 24.96px;
  height: 564px;
  position: relative;
  width: 1370px;
} */

/* .mask-group {
  height: 389.43px;
  position: relative;
  width: 389.43px;
} */

.download-app {
  height: 591px;
  left: 0;
  position: absolute;
  top: 2224px;
  width: 1442px;
}

.overlap-8 {
  background-color: #532181;
  border: 1px solid;
  border-color: #ffffff;
  height: 591px;
  position: relative;
  width: 1440px;
}

.ready-to-get-started {
  color: #ffffff;
  font-family: "Inter Tight-Bold", Helvetica;
  font-size: 74.8px;
  font-weight: 700;
  left: 398px;
  letter-spacing: 0;
  line-height: 86.8px;
  position: absolute;
  text-align: center;
  top: 139px;
}

.mask-group-2 {
  height: 293px;
  left: -1px;
  position: absolute;
  top: 87px;
  width: 278px;
}

.component-68 {
  left: 514px !important;
  position: absolute !important;
  top: 368px !important;
}
.component-img{
  cursor: pointer;
}

.frame-14 {
  align-items: center;
  display: inline-flex;
  gap: 114.4px;
  left: 39px;
  position: absolute;
  top: 3888px;
}

.frame-15 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 41.61px;
  position: relative;
}

.frame-16 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20.8px;
  position: relative;
}

.heading-START-2 {
  color: #532181;
  font-family: "Inter Tight-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 36.4px;
  margin-top: -1.3px;
  position: relative;
  white-space: nowrap;
  width: auto;
}

.text-wrapper-7 {
  color: #111827;
  font-family: "Inter Tight-Bold", Helvetica;
  font-size: 46.8px;
  font-weight: 700;
  letter-spacing: -1.17px;
  line-height: 52px;
  position: relative;
  width: 674.8px;
}

.text-wrapper-8 {
  color: #38404a;
  font-family: "Inter Tight-Regular", Helvetica;
  font-size: 23.4px;
  font-weight: 400;
  height: 40.57px;
  letter-spacing: 0;
  line-height: 35.1px;
  position: relative;
  white-space: nowrap;
  width: 680.21px;
}

.group-4 {
  height: 337.4px;
  position: relative;
  width: 706px;
}

.descriptions {
  background-color: #f3f4f6;
  border-radius: 10.4px;
  height: 104px;
  left: 0;
  position: absolute;
  top: 0;
  width: 706px;
}

.group-5 {
  height: 73px;
  left: 16px;
  position: relative;
  top: 16px;
  width: 634px;
}

.view {
  height: 26px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 26px;
}

.span {
  height: 73px;
  left: 42px;
  position: absolute;
  top: 0;
  width: 593px;
}

.term-visualize-as {
  color: #38404a;
  font-family: "Inter Tight-SemiBold", Helvetica;
  font-size: 20.8px;
  font-weight: 400;
  height: 73px;
  left: 0;
  line-height: 36.4px;
  position: absolute;
  top: -3px;
  width: 606px;
}

.text-wrapper-9 {
  font-weight: 600;
  letter-spacing: 0;
}

.text-wrapper-10 {
  font-family: "Inter Tight-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: -0.11px;
}

.text-wrapper-11 {
  font-family: "Inter Tight-Regular", Helvetica;
  letter-spacing: -0.11px;
}

.text-wrapper-12 {
  font-family: "Inter Tight-Regular", Helvetica;
  letter-spacing: 0;
}

.group-6 {
  height: 73px;
  left: 16px;
  position: absolute;
  top: 140px;
  width: 667px;
}

.img-3 {
  height: 26px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 26px;
}

.descriptions-term {
  color: #38404a;
  font-family: "Inter Tight-SemiBold", Helvetica;
  font-size: 20.8px;
  font-weight: 400;
  height: 73px;
  left: 42px;
  letter-spacing: 0;
  line-height: 36.4px;
  position: absolute;
  top: 0;
  width: 623px;
}

.text-wrapper-13 {
  font-weight: 600;
}

.text-wrapper-14 {
  font-family: "Inter Tight-ExtraBold", Helvetica;
  font-weight: 800;
}

.text-wrapper-15 {
  font-family: "Inter Tight-Regular", Helvetica;
}

.group-7 {
  height: 73px;
  left: 16px;
  position: absolute;
  top: 265px;
  width: 667px;
}

.sdk-webp {
  background-color: #f3f4f6;
  border-radius: 16.76px;
  height: 542px;
  overflow: hidden;
  position: relative;
  width: 542px;
}

.swiftfiat-mockup-png {
  height: 542px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 542px;
}

.body-c {
  background-color: #fcfcfc;
  height: 672px;
  left: 0;
  position: absolute;
  top: 4569px;
  width: 1440px;
}

.group-8 {
  height: 104px;
  left: 564px;
  position: absolute;
  top: 76px;
  width: 316px;
}

.text-wrapper-16 {
  color: #532181;
  font-family: "Inter Tight-Bold", Helvetica;
  font-size: 53.1px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 63.5px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.text-wrapper-17 {
  color: #000000;
  font-family: "Inter Tight-Regular", Helvetica;
  font-size: 16.2px;
  font-weight: 400;
  left: 53px;
  letter-spacing: 0;
  line-height: 26.6px;
  position: absolute;
  text-align: center;
  top: 77px;
  white-space: nowrap;
}

.group-9 {
  height: 231px;
  left: 158px;
  position: absolute;
  top: 263px;
  width: 485px;
}

.overlap-group-6 {
  background-color: #532181;
  border-radius: 14.76px;
  height: 231px;
  position: relative;
  width: 483px;
}

.easily-traded-my {
  color: #ffffff;
  font-family: "Inter Tight-Regular", Helvetica;
  font-size: 20.1px;
  font-weight: 400;
  left: 29px;
  letter-spacing: 0;
  line-height: 31px;
  position: absolute;
  top: 30px;
  width: 380px;
}

.overlap-group-7 {
  height: 45px;
  left: 29px;
  position: absolute;
  top: 156px;
  width: 179px;
}

.group-10 {
  height: 44px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 179px;
}

.component-29 {
  height: 11px !important;
  left: 51px !important;
  position: absolute !important;
  top: 29px !important;
  width: 63px !important;
}

.component-28 {
  /* background-image: url(./ellipse-146-2.png) !important; */
  height: 44px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 44px !important;
}

.ashley-cooper {
  color: #ffffff;
  font-family: "Inter Tight-Regular", Helvetica;
  font-size: 12.9px;
  font-weight: 400;
  left: 50px;
  letter-spacing: -0.37px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
}

.avatar-user-pic {
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 44px;
}

.avatar-user-pic-2 {
  height: 51px;
  left: -3px;
  position: absolute;
  top: -3px;
  width: 51px;
}

.inverted-comma {
  height: 34px;
  left: 361px;
  position: absolute;
  top: 163px;
  transform: rotate(-180deg);
  width: 48px;
}

.inverted-comma-2 {
  height: 34px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 23px;
}

.inverted-comma-3 {
  height: 34px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 23px;
}

.overlap-9 {
  height: 387px;
  left: 663px;
  position: absolute;
  top: 210px;
  width: 777px;
}

.overlap-10 {
  height: 372px;
  left: 0;
  position: absolute;
  top: 0;
  width: 777px;
}

.group-11 {
  height: 231px;
  left: 0;
  position: absolute;
  top: 53px;
  width: 485px;
}

.component-instance {
  /* background-image: url(./ellipse-146-3.png) !important; */
  height: 44px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 44px !important;
}

.mask-group-3 {
  height: 372px;
  left: 483px;
  position: absolute;
  top: 0;
  width: 294px;
}

.carousel {
  height: 44px;
  left: 26px;
  position: absolute;
  top: 343px;
  width: 98px;
  cursor: pointer;
}

.component-66 {
  height: 44px !important;
  left: 54px !important;
  position: absolute !important;
  top: 0 !important;
  width: 44px !important;
}