@media only screen and (max-width:600px) {
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
    .landing-page{
      width: 100%;
      overflow: hidden;
      max-height:5100px ;
    }
  
    .div {
      position: relative;
      width: 95%;
      overflow: hidden;
      /* max-height:6104px ; */
    }
    .burger{
        display: block;
        position: absolute;
        top: 24px;
        left: 320px;
    }

    .page-header{
        max-height: 70px;
    }

    
    .horizontal-container-2{
       max-width: 600px;
    }

    .horizontal-container-3{
        height: 100vh;
        top: 121%;
        background:  #663297;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 120%;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        z-index: 90;
        left: -90px;
        opacity: 0;
        
      }

      .horizontal-container-2 .button{
        top: 22px;
        left: -5px;
    }

    .img-2 {
        width: 78px;
      }


      .horizontal-container-3 .button-2{
        margin-bottom: 50px;
        top: -60px;
      }

      .horizontal-container-3 .button-3{
        left: -13px;
        top: -50px;
      }

      .horizontal-container-3 .text-wrapper{
        /* opacity: 0%; */
        /* position: absolute; */
        z-index: 150;
        /* transform: translateX(100%); */
        /* background: blue; */
        /* transition: 0.5s ease-in; */
      }

      .horizontal-container-3 .text-wrapper:hover{
        color: white;
        transform: translateY(-5px);
        transition: 0.9s ease;
      }

      .button-4{
        transition: 0.5s ease-in;
        z-index: 160;
        /* transform: translateX(-320%); */
        /* transform: translateX(0%); */
        transform: translateX(330%);
        opacity: 0;
      }

      .button-4 .button-2, .button-5{
        width: 80px;
        height: 30px;
        left: -74rem;
        top: 31.5rem;
        z-index: 120;
        /* transform: translateX(750%); */
      }

      .button-4 .button-5:hover{
        background: white;
        /* color: #663297; */
      }

      .button-4 .text-3:hover{
        color: #663297;
      }
       

      .button-4 .text-2, .text-3{
        font-size: 12px;
        color: white;
        top: 3px;
      }
      .button-4 .button-5{
        background: black;
      }

      



      .frame-2{
        height: 5%;
        width: 90%;
      }

      .your-financial {
        font-size: 251.75%;
        letter-spacing: 3px;
        line-height: 36px;
        text-align: center;
        justify-content: center;
        top: -105px;
        width: 46%;
        left: 3%;
        word-spacing: 10px;
        /* background: blue; */
      }

      

      .vector {
        height: 36px;
        left: -40px;
        top: -40px;
        width: 134px;
      }

      .p {
        font-size: 95%;
        font-weight: 500;
        left: 25px;
        letter-spacing: 0px;
        line-height: 20px;
        top: 19px;
        width: 290px;
      }

      .button-6 {
        height: 46px;
        left: 16%;
        top: 219px;
        width: 270px;
        height: 40px;
      }

      .frame-3 {
        left: 35px;
        overflow: hidden;
        top: 490px;
        height: 500px;
        width: 90%;
      }


      .ellipse {
        height: 150px;
        left: -90px;
        top: 400px;
        width: 402px;
        display: none;
      }
      
      .ellipse-2 {
        height: 150px;
        left: -32px;
        position: absolute;
        top: 270px;
        width: 399px;
      }
      
      .ellipse-3 {
        height: 150px;
        left: 35px;
        position: absolute;
        top: 181px;
        width: 352px;
      }

      .element-swiftfiat-iphone {
        height: 570px;
        left: 100px;
        top: 50px;
        width: 459px;
        z-index: 10;
      }

      /* .content{
        width: 90%;
      } */

      .heading-and {
        align-items: center;
        width: 90%;
        left: -490px;
        top: 25px;
      }

      .heading {
        align-self: center;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -1px;
        line-height: normal;
        top: 10px;
      }

      .supporting-text {
        font-size: 12px;
        font-weight: 500;
      }

      .frame-10 {
        align-items: flex-start;
        gap: 21.97px;
        display: flex;
        flex-direction: column;
    
      }

      .frame-11 {
        height: 400px;
        position: relative;
        width: 90%;
        left: -380px;
        /* background: blue; */
      }

      .head-bank{
        position: relative;
        top: -30px;
        left: -15px;
      }

      .head-bank img{
        height: 20.97px;
        position: relative;
        width: 20.97px;
      }

      .heading-2 {
        font-size: 19.9px;
        font-weight: 600;
        position: relative;
        width: 70%;
        top: -19px;
        left: -15px;
      }


      .supporting-text-2 {
        font-size: 15.5px;
        font-weight: 400;
        left: -15px;
        position: relative;
        width: 60%;
        top: -29px;
      }

      .overlap-group-4 {
        height: 416px;
        left: 45px;
        position: absolute;
        top: 120px;
        width: 70%;
      }

      .amazon {
        height: 230px;
        left: 160px;
        top: 104px;
        width: 191px;
      }
      
      .itunes {
        height: 200px;
        left: 0;
        top: 102px;
        width: 197px;
        background: var(--gray-900); ;
      }

      .heading-3 {
        font-size: 19.9px;
        font-weight: 600;
        position: relative;
        width: 60%;
        top: -19px;
        left: -15px;
      }

      .supporting-text-3 {
        font-size: 15.5px;
        font-weight: 400;
        left: -15px;
        position: relative;
        width: 60%;
        top: -29px;
      }

      .swiftfiat-iphone{
        height: 122px;
        left: 90px;
        object-fit: cover;
        position: absolute;
        top: 220px;
        width: 300px;
        /* background: blue; */
      }

      .frame-12 {
        height: 392.43px;
        width: 600px;
        left: -380px;
      }

      .heading-and-5 {
        width: 80%;
      }

      .supporting-text-4 {
        font-size: 15.5px;
        left: -15px;
        width: 60%;
        top: -20px;
      }

      .overlap-6 {
        /* background-position: -50% -50%; */
        height: 392px;
        left: -80px;
        position: absolute;
        top: 0;
        width: 60%;
        /* padding: 90px 90px; */
        /* background: blue; */
      }

      .MTN {
        left: 89px;
        top: 339px;
        width: 100px;
        height: 52px;
      }

      .doublePhone{
        height: 50%;
        position: absolute;
        top: 199px;
        left: 109px;
      }

      .DSTV {
        left: -85px;
        top: 85px;
        width: 30%;
        height: 72px;
      }
      
      .GLO {
        height: 50px;
        left: -122px;
        top: 152px;
        width: 40%;
      }
      
      .element {
        height: 79px;
        left: 195px;
        top: 200px;
        width: 20%;
      }
      
      .AIRTEL {
        height: 78px;
        left: 368px;
        top: 200px;
        width: 20%;
      }

      .frame-13 {
        height: 244px;
        width: 60%;
        left: -274px;
      }

      .map {
        top: -100px;
        width: 100%;
      }

      .heading-4 {
        font-size: 30.9px;
        font-weight: 600;
        left: 10px;
        letter-spacing: 0;
        line-height: 49.9px;
        position: absolute;
        top: -30px;
      }

      .download-app {
        width: 590px;
      }

      .overlap-8 {
        width: 95%;
        height: 244px;
        top: -335px;
      }

      .ready-to-get-started {
        font-size: 200%;
        left: 90px;
        letter-spacing: 0;
        line-height: 30.8px;
        top: 30px;
      }

      .mask-group-2 {
        height: 103px;
        left: -50px;
        top: 20px;
        width: 178px;
      }

      .component-68 {
        left: 120px !important;
        top: 130px !important;
      }

      .component-img{
        width: 50%;
      }

      .frame-14 {
        display: flex;
        flex-direction: column;
        gap: 100.4px;
        left: 39px;
        top: 3188px;
      }

      .heading-START-2 {
        font-size: 11px;
      }

      .text-wrapper-7 {
        font-size: 24.8px;
        letter-spacing: -1.17px;
        line-height: 42px;
        width: 674.8px;
      }

      .text-wrapper-8 {
        font-size: 13.9px;
      }

      .group-4 {
        height: 337.4px;
        position: relative;
        max-width: 500px;
        overflow: hidden;
      }

      .descriptions {
        height: 80px;
        max-width: 95%;
        /* overflow: hidden; */

      }
      .img-3,
      .view {
        height: 20px;
        width: 26px;
        left: -8px;
      }

      .term-visualize-as{
        font-size: 12.8px;
        line-height: 30.4px;
        top: -3px;
        width: 60%;
        left: -20px;
      }
      .descriptions-term{
        width: 50%;
        font-size: 12.8px;
        left: 25px;
        line-height: 25.4px;

      }

      .group-6{
        top: 120px;
        
      }

      .group-7{
        top: 235px;

      }

      .sdk-webp {
        height: 342px;
        width: 70%;
        top: -60px;
        left: -100px;
      }

      .swiftfiat-mockup-png {
        height: 310px;
        left: 30px;
        top: 30px;
        width: 342px;
        /* padding: 20px 20px; */
      }

      .body-c {
        height: 412px;
        left: 0;
        top: 4199px;
        width: 100%;
        /* background: blue; */
        
      }

      .group-8 {
        height: 80px;
        left: 129.9px;
        top: 36px;
        width: 40%;
        /* background: orange; */
        overflow: hidden;
      }

      .text-wrapper-16 {
        font-size: 25.1px;
        left: 8px;
        letter-spacing: 1px;
        line-height: 43.5px;
        top: 0;
        /* background: green; */
      }
      
      .text-wrapper-17 {
        font-size: 10.7px;
        left: 20px;
        letter-spacing: -0.19px;
        line-height: 26.6px;
        top: 47px;
      }

      .overlap-group-6 {
        height: 111px;
        position: relative;
        width: 30%;
        left: -140px;
        top: -100px;
        /* overflow: hidden; */
      }

      .easily-traded-my {
        font-size: 7.5px;
        left: 9px;
        line-height: 16px;
        top: 12px;
        width: 280px;
      }

      .component-29 img {
        position: absolute;
        top: -100px;
        width: 30px;
        height: 30px;
        left: -49px;
       
      }

      .ashley-cooper {
        font-size: 9.9px;
        left: 3px;
        top: -77px;
      }

      .avatar-user-pic-2 {
        height: 21px;
        left: -19px;
        top: -77px;
        width: 21px;
      }

      .inverted-comma {
        left: 99px;
        top: 74px;
      }

      .inverted-comma-2 {
        height: 13px;
        width: 11px;
      }
      
      .inverted-comma-3 {
        height: 13px;
        width: 11px;
        left:9px ;
      }

      
.group-11 {
    height: 231px;
    left: -340px;
    position: absolute;
    top: 53px;
    width: 485px;
  }
  
  .group-11a {
    height: 231px;
    left: 490px;
    position: absolute;
    top: 263px;
    width: 485px;
  }

  .carousel {
    top: 110px;
    width: 98px;
    left: -485px;
  }

  .component-66,
  .component-67 {
    height: 34px !important;
    width: 34px !important;
  }

  .frame-4 {
    height: 388px;
    left: 15px;
    top: 4680px;
    width: 100%;

  }

  .mail-img{
    height: 19px;
    width: 20px;
    top: -50px;
    left: -70px;

  }

  .mail-img .img-2{
    height: 15px;
    left: 0px;
    top: 2px;
    width: 22px;
  }

  .frame-8 {
    gap: 2.94px;
    top: -70px;
    left: -60px;
  }

  .join-the-speedsters {
    font-size: 16.5px;
  }
  
  .text-wrapper-2 {
    font-size: 7.9px;
    line-height: 1.2px;
  }

  .button-7 {
    gap: 0.88px;
    position: relative;
    left: -750px;
    top: -50px;
  }

  .text-wrapper-3 {
    font-size: 7.9px;
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 15.8px;
    margin-top: -0.99px;
    position: relative;
    width: 299.8px;
  }

  .button-container {
    width: 70%;
  }

  .button-8 {
    height: 35.66px;
    overflow: hidden;
    padding: 11.91px 15.88px;
    position: relative;
  }

  .text-input {
    font-size: 9.9px;
    margin-right: 150px;
   
  }

  .button-9 {
    height: 35.66px;
  }

  .text-input-container {
    height: 115px;
    left: -60px;
    top: -259px;
    width: 245px;
  }

  .heading-START {
    font-size: 10px;
    height: 37px;
    left: 0;
    letter-spacing: 0;
    line-height: 36.4px;
    position: absolute;
    top: 13px;
  }

  .an-innovative {
    font-size: 7.7px;
    letter-spacing: -0.1px;
    line-height: 10.8px;
    margin-top: -15.99px;
    position: relative;
    width: auto;
    top: 0;
  }

  .vertical-container-2 {
    left: 99px;
    top: -299px;
  }

  .text-wrapper-4 {
    font-size: 11.9px;
    letter-spacing: -0.3px;
  }

  .text-wrapper-5 {
    font-size: 11.9px;
    font-weight: 500;
    letter-spacing: -0.3px;
    /* top: -11px; */
    line-height: 23.8px;
    
  }

  .card .text-wrapper-4{
    left: -11px;
  }
  .card .text-wrapper-5{
    top: -4px;
  }

  .vertical-container-3 {
    left: 60px;
  }

  .card-3 {
    gap: 23.82px;
    left: 130px;
    top: 0;
  }

  .text-input-2 {
    height: 48px;
    left: -29px;
    position: absolute;
    top: 251px;
    width: 1208px;
  }

  .text-wrapper-6 {
    font-size: 11px;
  }

  .social-icon {
    left: 190px !important; 
  }

  .social-icon img{
    width: 170px;
  }
  
      

}


.nav-active{
    transform: translateX(0%);
    opacity: 1;
}

.btn-active{
    transform: translateX(0%);
    opacity: 1;
}


@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(100%);
    }

    to{
        opacity: 1;
        transform: translateX(0%);
    }
    
}

.togg .line1{
    transform: rotate(-45deg) translate(-5px, 6px);

}

.togg .line2{
    opacity: 0;

}

.togg .line3{
    transform: rotate(45deg) translate(-5px, -6px);

}



@media only screen and (min-width:601px) and (max-width:1170px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .landing-page{
    max-width: 1170px;
    overflow: hidden;
    /* display: none; */
  }

  .div {
    overflow: hidden;
    max-width: 100%;
  }

  
.page-header {
  width: 1170px;
  /* overflow: hidden; */
  /* display: none; */
}

.horizontal-container {
  width: 1090px;
}

.text-wrapper {
  font-size: 13.9px;
}

.text-2 {
  font-size: 13.9px;
}

.frame-2 {
  top: 127px;
  max-width: 656px;
}

.overlap-wrapper {
  /* height: 364px; */
  width: 100%;
}
  



}